{% extends 'base.html' %}
{% load my_tags %}

{% block title %} Administracao {% endblock %}

{% block main %}

    <div class="row">
        <div class="col">

        </div>

        <div class="col-6">
            <h3>Listagem de clientes</h3>
            <ul class="list-group">
                {% for person in persons %}
                    <li class="list-group-item">
                        <a href="{% url 'persons_update' person.id %}">{{ person.first_name }}</a>
                        <a href="{% url 'persons_delete' person.id %}" class="trash-item">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </li>

                {% empty %}
                    <li>Sorry, no clients in this list.</li>
                {% endfor %}
            </ul>

            <br>

            <a href="{% url 'person_new' %}" class="btn btn-primary"> Novo cliente</a>

        </div>

        <div class="col">
            {% if user.is_authenticated %}
                <p>Ola {{user.username }}
                    <a href="{% url 'logout' %}">
                        <span class="badge badge-dark">Sair</span>
                    </a>
                </p>

            {% endif %}
        </div>
    </div>

{% filter force_escape|upper %}
    This text will be HTML-escaped, and will appear in all uppercase.
{% endfilter %}

{% if persons|length >= 2 %}
    More then 2 clients.
{% endif %}

<h3> The current datetime </h3>
{% current_time "%Y-%m-%d %I:%M %p" as the_time %}
{{ the_time }}

{% endblock %}

{% block footer %}
        {% include 'footer.html' with v1=footer_message %}
{% endblock %}